.home-container{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.home-title{
    font-family: 'Dancing Script';
    color: red;
    width: 100%;
    font-size: 40px;
}