.seats{
    background-color: rgb(58, 53, 53);
    width: 100%;
    height: 700px;
    position: absolute;
    display: grid;                      /* 2 */
    grid-template-columns: 50px 1fr 50px;   /* 3 */
    grid-template-rows: 50px 1fr 50px;
    
}

.orch_seats{
    margin: 37px;
    display: flex;
    flex-wrap: wrap;
    grid-column: 2;
    grid-row: 1;
    width: 500px;
    gap: 30px;
    justify-content: center;  
}

.orchestra{
    font-family: 'Dancing Script';
    cursor: pointer;
    color: white; 
}

/* .orchestra:hover {
    background-color: green;
  } */