@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.title{
    height: 145px;
    background-color: #ff0000;
}
.header-title{
    font-family: 'Dancing Script';
    text-align-last: center;
    font-size: 3em;
    color: white;
}
.header-subtitle{
    font-family: 'Dancing Script';
    text-align-last: center;
    font-size: 1.5em;
    color: white;
}

.icons{
    position: static;
    text-align: center;
    background-color: red;
    color: red;
    gap: 100px;
}

.headerIcon{
    color: white;
}

.headerSearchInput{
    border: none;
    outline: none;
}

.headerBtn{
    background-color: red;
    color: white;
    padding: 7px 10px;

}

.headerCursor{
    cursor: pointer;
}