@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.nav-bar{
    height: 120px;
    background-color: #ff0000;
    display: flex;
    justify-content: center;
}

.nav-container{
    width: 100%;
    max-width: 1024px;
    color: white;
    //background-color: blue;
}

.rialto{
    color: white;
    font-size: 7em;
    font-family: 'Dancing Script';
    text-align: center;
}

.nav-items{
    text-align-last: left;
}

.nav-button{
    font-family: 'Dancing Script';
    margin-left: 20px;
    border: 0ch;
    padding: 7px 10px;
    cursor: pointer;
    color: red;
    background-color: white;
}

.headerSearch{
    display: flex;
    align-items: center;
    gap: 40px;
    position: static;
}

.iconquestion{
    color: white;
    font-family: 'Dancing Script';
    top: 0px;
    right: 0px;
}

.iconticket{
    color: white;
    font-family: 'Dancing Script';
    top: 0px;
    right: 0px;
}

.iconadmin{
    color: white;
    font-family: 'Dancing Script';
    top: 0px;
    right: 0px;
}

.admin{
    color: white;
    font-family: 'Dancing Script';
    top: 0px;
    right: 0px;
}