.shows{
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  gap: 50px; 
  row-gap: 100px;    
  z-index: 1;
}

.theater{
  position: relative;
  color: gray;
  border-radius: 10px;
  overflow: hidden;
  flex:1
  }

.img{
  width: 250px;
  height: 300px;

}

.name{
  color: red;
}